  <!-- Content------------------------------------------------------------------------------------------>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>UPDATE POST</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="index.php">Home</a></li>
              <li class="breadcrumb-item active">UPDATE POST</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"></h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="card-body">
         
  <div class="admin-panel__content">
    

<div class="admin-panel__content">

    <div class="row">
        <div class="col-md-12">
            <div class="section-header">
                <h1></h1>
            </div>
             
            <?php if(strlen($error)>0) {   ?>
            </div>
            <div class="alert alert-danger">
                <p><?php echo $error; ?></p>
            </div>
            <?php  }  ?>
    
    
            <?php if(strlen($success)>0) {   ?>
            </div>
            <div class="alert alert-success">
                <p><?php echo $success; ?>  to view posts <a href="posts.php">click here</a></p>
            </div>
            <?php  }   ?>
        </div>
        <div class="col-md-8">
            <form class="form-horizontal" action="updatepost.php" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title" class="col-sm-3 control-label">POST Title</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" class="form-control" value="<?php echo $post['title'] ?>" id="title" placeholder="title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-3 control-label">CONTENT</label>
                    <div class="col-sm-9">
                        <textarea rows="6" name="content" class="form-control" id="content" placeholder="content"><?php echo $post['content'] ?></textarea>
                    </div>
                </div>
               
                <div class="form-group">
                    <label for="image" class="col-sm-3 control-label">Image</label>
                    <img src="../uploads/<?php echo $post['image'] ?>" width="150" height="150">
                    <div class="col-sm-9">
                        <input type="file" name="image" class="form-control" id="image">
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">NAME</label>
                    <div class="col-sm-9">
                        <input type="text" name="name" value="<?php echo $post['name'] ?>" class="form-control" id="name" placeholder="name">
                    </div>
                </div>
                <input type="hidden" name="id" value="<?php echo $post['id'] ?>" />
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> update post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    </div>


        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper ----------------------------------------------------------------------------------->





  